<html>
    <head>
        <title>Busby's Blog</title>
    </head>

    <body>
        <div>
            <h1>Busby's Blog</h1>
            <h3>Welcome to my first blog</h3>
            <p>Hi there! Lets put some text <em>here</em></p>
            <p>Hello <strong>World</strong>!</p>
        </div>

        <div>
           <a href="https://github.com/Busby10">Check my github yo</a>
            <h5>Current Projects</h5>
            <ul>
                <li>Testris</li>
                <li>This blog</li>
            </ul>
        </div>


    </body>


</html>